<div class="references" [style.padding-top.rem]="calculatePaddingTop()">
  <h2 class="references__title">References</h2>
  <div class="refs-container">
    <div class="reference reference--1">
      <div class="reference__img-container">
        <img src="/assets/images/jonas.jpg" alt="Jonas image" class="img">
      </div>
      <div class="reference__text-container">
        <div class="data-container">
          <ul class="data-list">
            <li class="data-list-item">
              <h4 class="type">Full Name</h4>
              <span class="colon">:</span>
              <h4 class="type-data">Jonas Balieiro Rossi</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Work relationship</h4>
              <span class="colon">:</span>
              <h4 class="type-data">Colleagues at Octonius</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Position at firm</h4>
              <span class="colon">:</span>
              <h4 class="type-data">System Architecture Chapter Lead (Backend Engineer & DevOps) </h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Linkedin Profile</h4>
              <span class="colon">:</span>
              <h4 class="type-data"><a target="_blank" href="https://www.linkedin.com/in/rossijonas/">Visit Jonas his profile</a></h4>
            </li>
          </ul>
        </div>
        <hr class="dividing-line">
        <div class="reference-container">
          <p class="reference-text">"I worked with Tijl for about 4 months on the same project where he was helping the team to build new features on the app. Tijl worked as a full stack developer building new features on the app's Node.js/Express backend API, as well as building the app's Angular frontend UI.

            <br><br> He is a curious person, very committed, he's a skilled person, he's not afraid of learning complex stuff, and gets his hands dirty pretty quickly when doing so! These mentioned skills helped him to get going pretty quick and to deliver a lot of new features to the app. He was someone I could always count on, he helped me a lot. I was impressed by how many things Tijl learned/implemented /delivered while we worked together.

            <br><br>The team had good times with Tijl presence, he's a nice Guy, trustful and genuine. I've had a lot of fun with him, he brings the team vibe up.

            Tijl is a person who grows skills and develops himself very quickly, he's no stranger to a challenge, he can get going on any stack/technology he decides to work on."
          </p>
        </div>
      </div>
    </div>
    <div class="reference reference--1">
      <div class="reference__text-container reference__text-container--2">
        <div class="data-container">
          <ul class="data-list">
            <li class="data-list-item">
              <h4 class="type">Full Name</h4>
              <span class="colon">:</span>
              <h4 class="type-data">Shubham Singh</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Work relationship</h4>
              <span class="colon">:</span>
              <h4 class="type-data">Colleagues at Octonius</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Position at firm</h4>
              <span class="colon">:</span>
              <h4 class="type-data">Front End Chapter Lead</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Linkedin Profile</h4>
              <span class="colon">:</span>
              <h4 class="type-data"><a target="_blank" href="https://www.linkedin.com/in/shubham-singh-/">Visit Shubham's profile</a></h4>
            </li>
          </ul>
        </div>
        <hr class="dividing-line">
        <div class="reference-container">
          <p class="reference-text">"Tijl is an amazing professional, who brings all of the skills and expertise while working and is a rare example of a self- driven environmentalist with team spirit. He did a marvelous job as a Full Stack Software Developer for 5 Months at Octonius Inc.

            <br><br>He was responsible for developing and maintaining the products exciting features and most of them are still a part of the core functionality. I was impressed with his intrapersonal skills too, and his ability to create a friendly environment while working. During his Job span, he was an active member of the team who interacts and socializes very easily and always raises his opinion about a particular problem and tries to bring the quality solution for the same on the table and shares best practices.

            <br><br>Tijl specializes in developing modular full stack applications and has a high proficiency in the domain of Angular, NodeJS, Express, MongoDB, Javascript, etc. As a colleague/friend in the same group where we used to work, I highly recommend, Tijl, to other organizations who may want to hire this talented young man with having high proficiency in full-stack software development."
          </p>
        </div>
      </div>
      <div class="reference__img-container reference__img-container--2">
        <img src="/assets/images/shubham.jpg" alt="Shubham image" class="img">
      </div>
    </div>
  </div>
</div>
