<div class="references">
  <h2 class="references__title">References</h2>
  <div class="refs-container">
    <div class="reference reference--1">
      <div class="reference__img-container">
        <img src="/assets/images/jonas.jpg" alt="Jonas image" class="img">
      </div>
      <div class="reference__text-container">
        <div class="data-container">
          <ul class="data-list">
            <li class="data-list-item">
              <h4 class="type">Full Name</h4>
              <span class="colon">:</span>
              <h4 class="type-data">Jonas Balieiro Rossi</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Age</h4>
              <span class="colon">:</span>
              <h4 class="type-data">31</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Work relationship</h4>
              <span class="colon">:</span>
              <h4 class="type-data">Colleagues at Octonius</h4>
            </li>
            <li class="data-list-item">
              <h4 class="type">Position at firm</h4>
              <span class="colon">:</span>
              <h4 class="type-data">System Architecture Chapter Lead (Backend Engineer & DevOps) </h4>
            </li>
          </ul>
        </div>
        <hr class="dividing-line">
        <div class="reference-container">
          <p class="reference-text">"I worked with Tijl for about 4 months on the same project where he was helping the team to build new features on the app. Tijl worked as a full stack developer building new features on the app's Node.js/Express backend API, as well as buillding the app's Angular frontend UI.

            He is a curious person, very committed, he's a skilled person, he's not afraid of learning complex stuff, and he get hands dirty pretty quickly when doing so! These mentioned skills helped him to get going pretty quick and to deliver a lot of new features to the app. He was someone I could always count on, he helped me a lot. I've got impressed of how many things Tijl learned / implemented / delivered while we worked together.

            The team had good times with Tijl presence, he's a nice Guy, trustful and geniune, I've had much fun with him daily, he brings the team vibe up.

            Tijl is a person who grows skills and develops himself very quickly, he's no stranger to a challenge, he can get going on any stack/technology he decides to work on."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
