<section class="other-skills-section">
  <h2 class="title">Skills</h2>
  <div class="overlay"></div>
  <section class="gallery">
    <figure class="gallery__item gallery__item--1"><img src="/assets/images/gallery-1.png" alt="Gallery image 1" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--2"><img src="/assets/images/gallery-2.png" alt="Gallery image 2" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--3"><img src="/assets/images/gallery-3.png" alt="Gallery image 3" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--4"><img src="/assets/images/gallery-4.png" alt="Gallery image 4" class="gallery__img"></figure>
    <!--<figure class="gallery__item gallery__item&#45;&#45;5"><img src="/assets/images/gallery-5.png" alt="Gallery image 5" class="gallery__img"></figure>-->
    <figure class="gallery__item gallery__item--6"><img src="/assets/images/gallery-6.svg" alt="Gallery image 6" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--7"><img src="/assets/images/gallery-7.jpg" alt="Gallery image 7" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--8"><img src="/assets/images/gallery-8.jpg" alt="Gallery image 8" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--9"><img src="/assets/images/gallery-9.png" alt="Gallery image 9" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--10"><img src="/assets/images/gallery-10.png" alt="Gallery image 10" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--11"><img src="/assets/images/gallery-11.jpg" alt="Gallery image 11" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--12"><img src="/assets/images/gallery-12.png" alt="Gallery image 12" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--13"><img src="/assets/images/gallery-13.png" alt="Gallery image 13" class="gallery__img"></figure>
    <figure class="gallery__item gallery__item--14"><img src="/assets/images/gallery-14.png" alt="Gallery image 14" class="gallery__img"></figure>
  </section>

</section>
