.nav-container {
  display: grid;
  grid-template-columns: [center-start] repeat(10, [col-start] 1fr [col-end]) [center-end];
  font-family: montserrat, sans-serif;

  .navbar {
    grid-column: center-start / center-end;
    background-color: transparent;
    width: 100%;
    height: 15rem;
    z-index: 5;
    opacity: 0;
    animation-name: slide-in-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .navbar-brand {
      color: #fff;
      font-size: 24px;
      width: 70px;
    }

    .nav-item {
margin-left: 5rem;

      .nav-link {
        color: #fff !important;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 2px;
        font-weight: 400;
        vertical-align: middle;
        line-height: normal;
        white-space: nowrap;
        transition: all .2s;

        &:hover {
          transform: translateY(-.3rem) scale(1.1);
        }
      }
    }

  }
}

// test

@keyframes  slide-in-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


// #### MODAL ####


.modal-header {
  text-align: center;
  color: darkblue;
   flex-direction: column;
  background-color: #eee;

  & > * {
    margin: 0 auto;
  }

  .modal-title {
    text-transform: uppercase;
    font-weight: 700;

  }
}

.upper-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-group {
  padding: .5rem;
}

.form-control {
  background-color: #ddd;
}

.extra {
  text-align: center;
  margin-top: 1rem;
}

.error-message {
  color: darkred;
}

// Customize the

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255,255,255);
  position: absolute;
  top: 5rem;
  left: 5rem;
  transform: translateX(-50%);
}
