<section class="who-am-i">
<div class="text-section">
<div class="text-container">
<h2 class="about-me">About me</h2>
  <hr class="line">
  <p class="description">
    My name is Tijl Declerck and I am a 29-year-old Web Developer from Brussels, Belgium. Over the past two years, I have created various complex MEAN-stack applications for desktops and phones.
    As a person who always strives to understand every aspect of a topic, I have committed myself to learn Front-end development, back-end development as well as web design.
    In the next stage in my career I hope to fully master front-end development and I am looking for an interesting job opportunity where I can join a team of ambitious developers.
    To learn more about me, I have placed a summary of all the development skills I have mastered on the bottom of this page and in the references section you can see what my former colleagues say about
    my work performances in the past.
  </p>
  <div class="data-container">
    <div class="name-container">
      <h4 class="type">Full name</h4>
      <h4 class="colon">:</h4>
      <h4 class="data name">Tijl Declerck</h4>
    </div>
    <div class="age-container">
      <h4 class="type">Age</h4>
      <h4 class="colon">:</h4>
      <h4 class="data age">29</h4>
    </div>
    <div class="nationality-container">
      <h4 class="type">Nationality</h4>
      <h4 class="colon">:</h4>
      <h4 class="data nationality">Belgian</h4>
    </div>
    <div class="speciality-container">
      <h4 class="type">Speciality</h4>
      <h4 class="colon">:</h4>
      <h4 class="data speciality">Front-end Development</h4>
    </div>
    <div class="email-container">
      <h4 class="type">Email</h4>
      <h4 class="colon">:</h4>
      <h4 class="data speciality">tijl.declerck@outlook.com</h4>
    </div>
  </div>
  <button (click)="downloadResume()" class="hire-me-btn btn">Download Resume!</button>
  <div class="spinner-container"><mat-spinner *ngIf="downloadLoading" class="mat-spinner-color" [diameter]="20"></mat-spinner></div>
</div>
</div>
  <div class="img-section">
    <img src="/assets/images/about-me-4.png" alt="profile-img" class="tijl-img">
  </div>
</section>
