<section class="who-am-i">
<div class="text-section">
<div class="text-container">
<h2 class="about-me">About me</h2>
  <hr class="line">
  <p class="description">
    My name is Tijl Declerck and I am a Web Developer from Brussels, Belgium. I'm a proud geek with 2 years of experience in
    creating web applications. Front-end development is my passion, but I push myself on a daily basis to keep up-to-date with back-end development
    and web design technologies as well. In the past I have worked on the Octonius app and currently working on my own projects while searching for new challenging job opportunities.
  </p>
  <div class="data-container">
    <div class="name-container">
      <h4 class="type">Full name</h4>
      <h4 class="colon">:</h4>
      <h4 class="data name">Tijl Declerck</h4>
    </div>
    <div class="age-container">
      <h4 class="type">Age</h4>
      <h4 class="colon">:</h4>
      <h4 class="data age">29</h4>
    </div>
    <div class="nationality-container">
      <h4 class="type">Nationality</h4>
      <h4 class="colon">:</h4>
      <h4 class="data nationality">Belgian</h4>
    </div>
    <div class="speciality-container">
      <h4 class="type">Speciality</h4>
      <h4 class="colon">:</h4>
      <h4 class="data speciality">Front-end Development</h4>
    </div>
    <div class="email-container">
      <h4 class="type">Email</h4>
      <h4 class="colon">:</h4>
      <h4 class="data speciality">tijl.declerck@outlook.com</h4>
    </div>
  </div>
  <button (click)="downloadResume()" class="hire-me-btn btn">Download Resume!</button>
  <div class="spinner-container"><mat-spinner *ngIf="downloadLoading" class="mat-spinner-color" [diameter]="20"></mat-spinner></div>
</div>
</div>
  <div class="img-section">
    <img src="/assets/images/about-me-4.png" alt="profile-img" class="tijl-img">
  </div>
</section>
