<section class="who-am-i">
<div class="text-section">
<div class="text-container">
<h2 class="about-me">About me</h2>
  <hr class="line">
  <p class="description">
    My name is Tijl Declerck and I am a Web Developer from Brussels, Belgium. I'm a proud geek with 2 years of experience in
    creating web applications. Front-end development is my passion, but I push myself on a daily basis to keep up-to-date with back-end development
    and web design technologies as well. In the past I have worked on the Octonius app and currently working on my own projects while searching for new challenging job opportunities.
  </p>
  <button (click)="openModal()" class="hire-me-btn btn">Contact me!</button>
</div>
</div>
  <div class="img-section">
    <img src="/assets/images/example-man-3.jpg" alt="profile-img" class="tijl-img">
  </div>
</section>
