@import "../scss/components/buttons";
@import "../scss/abstracts/mixins";

.projects {
  background-image: linear-gradient(to right, #0f3a88, #09224f);
  min-height: 100vh;
  font-family: montserrat, sans-serif;

  .projects-container {
position: relative;

    .project-title {
      color: orange;
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;

      &--smartfit {
        color: #000;
      }

      &--octonius {

      }

      &--hp {

      }
    }

      .current-project {
        background-color: #eee;
        padding: 6rem 2rem;
        display: flex;
        flex-direction: column;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;

        &--smartfit {
          //clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
          background-image: linear-gradient(to right, rgba(#fff, .8), rgba(#ddd, .8)),  url("/assets/images/desk-3.png");

        }

        &--octonius {
          padding-top: 15rem;
          background-image: linear-gradient(to right, rgba(#0f3a88, .8), rgba(#09224f, .8)), url("/assets/images/desk-background.jpg");
          background-color: #09224f;
          color: #eee;
          transition: all 1s;
        }

        &--hp {
          background-image: linear-gradient(to right, rgba(#0f3a88, .8), rgba(#09224f, .8)),  url("/assets/images/desk-background.jpg");
          color: #fff;
          //clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        }



        &__header {
          display: grid;
          grid-template-columns: 1fr 35rem 1fr;

          justify-items: center;

          padding: 2rem;

          @include respond(tab-port) {
            grid-template-columns: 1fr 25rem 1fr;
          }

          .project-li {
            text-align: right;
            &--third-col {
              text-align: left;
            }

            &--1 {
              transform: translateX(3rem);
            }

            &--3 {
              transform: translateX(3rem);
            }

            &--4 {
              transform: translateX(-3rem);
            }

            &--6 {
              transform: translateX(-3rem);
            }
          }

          .first-col {
            grid-column: 1 / 2;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            justify-self: right;
          }

          .img-col {
            grid-column: 2 / 3;
              .project-img {
                height: 30rem;
                width: 30rem;
                border-radius: 50%;

                @include respond(tab-port) {
                  height: 20rem;
                  width: 20rem;
                }
              }
          }

          .third-col {
            grid-column: 3 / 4;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            justify-self: left;

          }
        }

        &__description {
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          margin-top: 2rem;

          .description {
            width: 80%;
            text-align: center;
          }
        }

        &__buttons {
          display: flex;
          justify-content: center;
          margin: 2rem 0;

          .btn {
            padding: 1rem 4rem;
            a {
              text-decoration: none;
              color: #000;
            }
          }

        }
      }
  }
}


.pre-load {
  position: absolute;
  top: -300rem;
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-spinner-color::ng-deep circle {
    stroke: #fff !important;
  }
}
