<div class="projects">
  <h2 class="projects__title">Projects</h2>
  <div *ngIf="imgLoaded" class="project project--octonius">
    <mat-card class="example-card">
      <h2 class="example-card__title">Octonius</h2>
      <h4 class="example-card__subtitle">Work collaboration app (2019)</h4>
<!--      <hr class="dividing-line">-->
      <carousel (imgLoaded)="imgLoaded()" [images]="octoniusImages" class="carousel"></carousel>
      <mat-card-content class="card-content" *ngIf="octoniusInfo">
        <p>
          For 4-5 months I had an internship where I worked on the Octonius app. The app was a multi-platform application whose main purpose was providing structure to the schedule
          of a professional group. In the app they could create groups, create tasks and follow up on the progress made.
          <br><br>
          My responsibilities were mostly on the front-end, but I often did work on the Node.js back-end API as well. During my internship I
          implemented a subscription payment system, reorganized and made the front-end structure more efficient and components more reusable,
          implemented an email notification system, added live notifications to the application with the help of web sockets, implemented
          a search feature so people could easily find posts & tasks, and many more features.
          <br><br>
          My internship was very important for my interpersonal skills as well as it learned me to program on a project with other people.
          The internship was also crucial for improving working with version control like GIT and Github.
          <br><br>
          Unfortunately I can't share the code because of an NDA, but you can contact me directly if you have further questions or visit the
            references section to see what my colleagues said about my contributions.
        </p>
        <button class="link-btn btn btn-warning"><a href="https://octonius.com/" target="_blank">Visit Website Octonius</a></button>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="toggleInfo('octoniusInfo')" class="btn btn-block my-3">
          <span *ngIf="octoniusInfo; else noOctInfo">Close</span>
          <ng-template #noOctInfo><span>More information</span></ng-template>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="imgLoaded" class="project project--smartfit">
    <mat-card class="example-card">
      <h2 class="example-card__title">Smartfit-PT</h2>
      <h4 class="example-card__subtitle">Personal training app (2019)</h4>
      <!--      <hr class="dividing-line">-->
      <carousel (imgLoaded)="imgLoaded()" [images]="smartfitImages" class="carousel"></carousel>
      <mat-card-content class="card-content" *ngIf="smartfitInfo">
        <p>
        Smartfit-PT is a project that is currently under construction. The end product will be a
        progressive web application that will allow for better communication
        between a personal trainer and his client. Every single part of this application will have been created by me.
        Responsibilities include: front-end development, back-end development, design and the transformation of the entire
        app into a progressive web app.

        <br><br>In the app, the personal trainer has the possibility to create new workouts, send them to his clients
        and make further adjustments according to the client's needs.
        The client's schedule is based on the client's progress by using the statistics that get updated automatically
        after every workout.
        <br><br>
        Currently I am working on implementing the direct message system that will allow a trainer to have direct
        communication with his client through the use of web sockets. In the meantime I will also start using these
        web sockets to implement the live notifications feature into the app.</p>
        <button class="link-btn btn btn-warning"><a href="https://github.com/TijlDeclerckWd/smartfit-pt-5" target="_blank">Github repository</a></button>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="toggleInfo('smartfitInfo')" class="btn btn-block my-3">
          <span *ngIf="smartfitInfo; else noSmInfo">Close</span>
          <ng-template #noSmInfo><span>More information</span></ng-template>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="imgLoaded" class="project project--hpwu">
    <mat-card class="example-card">
      <h2 class="example-card__title">Harry Potter: Wizards Unite Fans</h2>
      <h4 class="example-card__subtitle">Fan Website (2018)</h4>
      <!--      <hr class="dividing-line">-->
      <carousel [images]="hpImages" class="carousel"></carousel>
      <mat-card-content class="card-content" *ngIf="hpwuInfo">
        <p>
          Last year I heard Niantic was about to release a new AR game based on the Harry Potter universe.
          Because the year before Pokemon Go had been a huge hit and I was in search of a new project to practice my skills, I thought it would be a
          great idea to create a website for the fans of this upcoming game. In the end the game turned out to be a flop, but I did learn
          a great deal creating this website.
          <br><br>
          The website is a desktop-first application with responsive design. I mainly focused on three parts: geolocation based finding of friends in-game with the help of google maps,
          a chat and a forum where people could discuss the game
          <br><br>
          Although the code is outdated and my current projects are a better representation of my skills, I am still proud of this project because for me it was the first 'big' app I created
          and I am especially proud of the geolocation feature I added.
        </p>
        <button class="link-btn btn btn-warning"><a href="https://github.com/TijlDeclerckWd/Harry-potter-wizards-unite" target="_blank">Github Code</a></button>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="toggleInfo('hpwuInfo')" class="btn btn-block my-3">
          <span *ngIf="hpwuInfo; else noHpwuInfo">Close</span>
          <ng-template #noHpwuInfo><span>More information</span></ng-template>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
<!--  <div class="project">-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>Octonius</mat-card-title>-->
<!--        <mat-card-subtitle>Team Collaboration Web App</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <carousel class="carousel"></carousel>-->
<!--      <mat-card-actions>-->
<!--        <button class="btn btn-block my-3">More information</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--  <div class="project">-->
<!--    <mat-card class="example-card">-->
<!--      <mat-card-header>-->
<!--        <div mat-card-avatar class="example-header-image"></div>-->
<!--        <mat-card-title>Octonius</mat-card-title>-->
<!--        <mat-card-subtitle>Team Collaboration Web App</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <carousel class="carousel"></carousel>-->
<!--      <mat-card-actions>-->
<!--<button class="btn btn-block my-3">More information</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
</div>

<ng-template #spinner>
  <div class="spinner-container">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</ng-template>
