@import "../scss/components/buttons";
@import "../scss/abstracts/mixins";

.projects {
  display: grid;
  grid-template-columns: 5rem repeat(8, 1fr) 5rem;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  padding: 15rem 0 0 0;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(#0f3a88, .8), rgba(#09224f, .8)), url("/assets/images/desk-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(tab-land) {
    grid-template-columns: 2rem repeat(8, 1fr) 2rem;
  }

  @include respond(tab-port) {
    grid-template-columns: 2rem repeat(8, 1fr) 2rem;
  }


  .project {

    @include respond(tab-port) {
      grid-column: 1 / -1 !important;
    }
    &--octonius {
      grid-column: 2/6;
    }

    &--smartfit {
      grid-column: 6/10;
    }

    &--hpwu {
      grid-column: 4 / 8;
      margin-bottom: 4rem;
    }

    .example-card {
      color: #666;

      @include respond(tab-port) {
        border-radius: 0;
      }

      .card-content {
        margin-top: 1rem;

        .link-btn {
          padding: .5rem 2rem;
          margin: 2rem auto 0 auto;
          display: block;

          a {
            text-decoration: none;
            color: #000;

          }
        }
      }

      &__title {
        text-align: center;
        font-weight: 600;
      }

      &__subtitle {
        text-align: center;
        font-weight: 600;
      }
    }


    .btn-block {
      background-color: #09224f;
      color: #fff;
      padding: 1rem;
    }

    .dividing-line {
      border: 0;
      clear: both;
      display: block;
      width: 60%;
      background-color: #888888;
      height: 1px;
      margin: .5rem auto 1rem auto;
    }
  }
}



/* #### ANIMATIONS #### */
@keyframes diagonal-slide-in-left {
  from {
    transform: translateX(-100%) translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes diagonal-slide-in-right {
  from {
    transform: translateX(100%) translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  from {
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// ANIMATION CLASSES

.octonius-animation {
  animation-name: diagonal-slide-in-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.smartfit-animation {
  animation-name: diagonal-slide-in-right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.hp-animation {
  animation-name: slide-in-bottom;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
