<div class="projects" *ngIf="bgImageLoaded && projectImageLoaded; else spinner">
  <div class="projects-container">
    <div class="current-project current-project--octonius" [style.background-image]="determineBgImg()">
      <h2 class="project-title project-title--octonius">Octonius</h2>
      <div class="current-project__header">
        <div class="first-col">
          <h4 class="project-name project-li project-li--1"><strong>Name: </strong>Octonius</h4>
          <h4 class="project-front project-li"><strong>Front-end:</strong> Angular</h4>
          <h4 class="project-year project-li project-li--3"><strong>Year: </strong>2019</h4>
        </div>
        <div class="img-col">
          <img [src]="projectImageLoaded" alt="smartfit-home" class="project-img">
        </div>
        <div class="third-col">
          <h4 class="project-back project-li--third-col project-li--4"><strong>Backend:</strong> Node.js / Express </h4>
          <h4 class="project-type project-li--third-col"><strong>Type:</strong> Desktop first</h4>
          <h4 class="project-type project-li--third-col project-li--6"><strong>Responsive design:</strong> No</h4>
        </div>
      </div>
      <div class="current-project__description">
        <p class="description">For 4-5 months I had an internship where I worked on the Octonius app. The app was a multi-platform application which main purpose was providing structure to the schedule
          of a professional group. In the app they could create groups, create tasks and follow up on the progress made.
          <br><br>
          My responsibilities were mostly on the front-end, but I often did work on the Node.js back-end API as well. During my internship I
          implemented a subscription payment system, reorganized and made the front-end structure more efficient and components more reusable,
          implemented an email notification system, added live notifications to the application with the help of web sockets, implemented
          a search feature so people could easily find posts & tasks, and many more features.
          <br><br>
          My internship was very important for my interpersonal skills as well as it learned me to program on a project with other people.
          The internship was also crucial for improving working with version control like GIT and Github.
          <br><br>
          <u>Unfortunately I can't share the code because of an NDA, but you can contact me directly if you have further questions or visit the
            references section to see what my colleagues said about my contributions.</u>
        </p>
      </div>
      <div class="current-project__buttons">
        <button class="btn btn-lift btn-warning"><a href="https://octonius.com/" target="_blank">Visit Website Octonius</a></button>
      </div>
    </div>

    <div class="current-project current-project--smartfit">
      <h2 class="project-title project-title--smartfit">Smartfit-PT</h2>
      <div class="current-project__header">
        <div class="first-col">
          <h4 class="project-name project-li project-li--1"><strong>Name:</strong> Smartfit-PT</h4>
          <h4 class="project-front project-li"><strong>Front-end:</strong> Angular</h4>
          <h4 class="project-year project-li project-li--3"><strong>Year:</strong> 2019</h4>
        </div>
        <div class="img-col">
          <img src="/assets/images/smartfit-home.png" alt="smartfit-home" class="project-img">
        </div>
        <div class="third-col">
          <h4 class="project-back project-li--third-col project-li--4"><strong>Backend:</strong> Node.js / Express </h4>
          <h4 class="project-type project-li--third-col"><strong>Type:</strong> Mobile-first PWA</h4>
          <h4 class="project-type project-li--third-col project-li--6"><strong>Responsive Design:</strong> Yes</h4>
        </div>
      </div>
      <div class="current-project__description">
        <p class="description">Smartfit-PT is a project that is currently under construction. The end product will be a
          progressive web application that will allow for better communication
          between a personal trainer and his client. Every single part of this application will have been created by me.
          Responsibilities include: front-end development, back-end development, design and the transformation of the entire
          app into a progressive web app.

          <br><br>In the app, the personal trainer has the possibility to create new workouts, send them to his clients
          make further adjustmentsaccording to the client's needs.
          in the client's schedule based on the client's progress by using the statistics that get updated automatically
          after every workout.
          <br><br>
          Currently I am working on implementing the direct message system that will allow a trainer to have direct
          communication with his client through the use of web sockets. In the meantime I will also start using these
          web sockets to implement the live notifications feature into the app.</p>
      </div>
      <div class="current-project__buttons">
        <button class="btn btn-lift btn-warning"><a href="https://github.com/TijlDeclerckWd/smartfit-pt-5" target="_blank">Github repository</a></button>
      </div>
    </div>
    <div class="current-project current-project--hp">
      <h2 class="project-title project-title--hp">Wizard's Unite Fans</h2>
      <div class="current-project__header">
        <div class="first-col">
          <h4 class="project-name project-li project-li--1"><strong>Name:</strong>Harry-Potter: Wizards's Unite fans</h4>
          <h4 class="project-front project-li"><strong>Front-end:</strong> Angular</h4>
          <h4 class="project-year project-li project-li--3"><strong>Year:</strong> 2018</h4>
        </div>
        <div class="img-col">
          <img src="/assets/images/hp.png" alt="smartfit-home" class="project-img">
        </div>
        <div class="third-col">
          <h4 class="project-back project-li--third-col project-li--4"><strong>Backend:</strong> Node.js / Express </h4>
          <h4 class="project-type project-li--third-col "><strong>Type:</strong> Desktop first with android for mobile</h4>
          <h4 class="project-type project-li--third-col project-li--6"><strong>Responsive design:</strong> Yes</h4>
        </div>
      </div>
      <div class="current-project__description">
        <p class="description">Last year I heard Niantic was about to release a new AR game based on the Harry Potter universe.
          Because the year before Pokemon Go had been a huge hit and I was in search of a new project to practice my skills, I thought it would be a
          great idea to create a website for the fans of this upcoming game. In the end the game turned out to be a flop, but I did learn
          a great deal creating this website.
          <br><br>
          The website is a desktop-first application with responsive design. I mainly focused on three parts: geolocation based finding of friends in-game with the help of google maps,
          a chat and a forum where people could discuss the game
          <br><br>
          Although the code is outdated and my current projects are a better representation of my skills, I am still proud of this project because for me it was the first 'big' app I created
          and I am especially proud of the geolocation feature I added.
        </p>
      </div>
      <div class="current-project__buttons">
        <button class="btn btn-lift btn-warning"><a href="https://github.com/TijlDeclerckWd/Harry-potter-wizards-unite" target="_blank">Github Code</a></button>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner class="mat-spinner-color"></mat-spinner>
  </div>
</ng-template>


<img src="/assets/images/smartfit-home.png" (load)="projectImageLoaded = projectImagePreload"  class="background-image pre-load">
<img src="/assets/images/desk-3.png" (load)="bgImageLoaded = bgImagePreload" class="project-image pre-load">
