@import "../scss/components/buttons";
@import "../scss/abstracts/mixins";

.projects {
  display: grid;
  grid-template-columns: 5rem repeat(8, 1fr) 5rem;
  grid-auto-rows: min-content;
  grid-gap: 2rem;
  padding: 15rem 0 0 0;
  min-height: 300vh;
  background-image: linear-gradient(to right, rgba(#0f3a88, .8), rgba(#09224f, .8)), url("/assets/images/desk-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(tab-land) {
    grid-template-columns: 2rem repeat(8, 1fr) 2rem;
  }

  &__title {
    grid-column: 1 / -1;
      font-size: 3.5rem;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600 !important;
      margin-bottom: 2rem;
    letter-spacing: 2px;
  }

  .project {

    @include respond(tab-port) {
      grid-column: 2 / 10 !important;
    }
    &--octonius {
      grid-column: 2/6;
    }

    &--smartfit {
      grid-column: 6/10;
    }

    &--hpwu {
      grid-column: 4 / 8;
      margin-bottom: 4rem;
    }

    .example-card {
      color: #666;

      .card-content {
        margin-top: 1rem;

        .link-btn {
          padding: .5rem 2rem;
          margin: 2rem auto 0 auto;
          display: block;

          a {
            text-decoration: none;
            color: #000;

          }
        }
      }

      &__title {
        text-align: center;
        font-weight: 600;
      }

      &__subtitle {
        text-align: center;
        font-weight: 600;
      }
    }


    .btn-block {
      background-color: #09224f;
      color: #fff;
      padding: 1rem;
    }

    .dividing-line {
      border: 0;
      clear: both;
      display: block;
      width: 60%;
      background-color: #888888;
      height: 1px;
      margin: .5rem auto 1rem auto;
    }
  }
}



/* #### ANIMATIONS #### */
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.spinner-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
