<section class="header">
  <div class="container-fluid header-container">
    <div class="img"></div>
    <div class="titles-container">
      <h1 class="title">Freelance <span class="text-primary">digital designer</span> & <span class="text-primary">web developer</span> from the United Kingdom</h1>
      <h4>this is my pagethis is my pagethis is my pagethis is my pagethis is my pagethis is my pagethis is my page</h4>
    </div>
  </div>
</section>
<section class="skills">
  <div class="skills-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Front End Developer</mat-card-title>
        <mat-card-subtitle>HTML, CSS, Javascript, Angular</mat-card-subtitle>
      </mat-card-header>
      <img class="card-img" mat-card-image src="/assets/images/front-end.jpg" alt="front-end">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Back End Development</mat-card-title>
        <mat-card-subtitle>Node.js, Express, MongoDB, Socket.io,...</mat-card-subtitle>
      </mat-card-header>
      <img class="card-img" mat-card-image src="/assets/images/nodejs.jpeg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Web Design</mat-card-title>
        <mat-card-subtitle>CSS, SCSS, Responsive design,...</mat-card-subtitle>
      </mat-card-header>
      <img class="card-img" mat-card-image src="/assets/images/responsive.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
</section>

