@import "../scss/abstracts/mixins";

.header {
  height: 100vh;
  background-color: rgba(#09224f,.5);

  @include respond(tab-port) {
    height: 80vh;
  }
  .header-container {
    padding: 0;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];;
    grid-template-rows: repeat(2, 1fr);

    @include respond(tab-port) {
      align-items: flex-start;
    }

    .img {
      height: 100%;
      background-image: linear-gradient(to bottom right, rgba(60,85,130,.2), rgba(9,34,79,.2)), url("/assets/images/home-background-10-sm.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left bottom;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      z-index: 1;
      opacity: .5;

      @include respond(tab-port) {
        background-position: left bottom;
      }
    }

    .titles-container {
      grid-column: 6 / -1;
      color: #fff;
      grid-row: 1 / -1;
      z-index: 2;
      transition: all 1s;
      //display: flex;
      //flex-direction: column;
      //align-content: space-evenly;

      @include respond(phone) {
        margin-top: 2rem;
      }

      @include respond(tab-port) {
        margin-top: 8rem;
      }

      @include respond(tab-port) {
        grid-row: 1 / 2;
        grid-column: 2 / -2;
      }

      @include respond(tab-land) {
        text-align: right;
        padding-right: 2rem;
      }

      @include respond(phone) {
        text-align: center;
        padding-right: 0;
      }

      .title {
        font-weight: 700;
        font-size: 8.8rem;
        line-height: 3.8rem;
        font-family: montserrat, sans-serif;
        margin-bottom: 2rem;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        animation-name: slide-in-right;
        animation-duration: 2.5s;


        @include respond(tab-port) {
          font-size: 7.7rem;
        }

        @include respond(phone) {
          font-size: 4.4rem;
          font-weight: 500;
        }
      }

      .subtitle {
        font-size: 3.3rem;
        font-weight: 600;
        opacity: 0;
        font-family: montserrat, sans-serif;
        animation-name: fade-in;
        animation-duration: 1s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;

        @include respond(tab-port) {
          font-size: 2.2rem;
        }
      }

      .logo-container {
        margin-top: 1rem;
        display: flex;

        @include respond(tab-land) {
          justify-content: flex-end;
        }

        @include respond(phone) {
          justify-content: center;
        }

        .fa {
          color: white;
          height: 4.5rem;
          width: 4.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.5rem;
          border: 2px solid #fff;
          border-radius: 50%;
          padding: 1rem;
          margin-right: 1.5rem;
          opacity: 0;
          transition: all .3s !important;
          -webkit-transition: all .3s !important;
          animation-name: fade-in-2;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          cursor: pointer;

          &:hover {
            opacity: 1 !important;
            //transform: scale(1.1) !important;
          }
        }

        .fa-linkedin {
          animation-delay: 3.5s;
        }

        .fa-twitter {
          animation-delay: 4s;
        }

        .fa-facebook {
          animation-delay: 4.5s;
        }
      }

      //.logo-container {
      //  display: flex;
      //  margin-top: 2rem;
      //
      //  & > * {
      //    width: 4rem;
      //    height: 4rem;
      //    border-radius: 50%;
      //    margin-right: 2rem;
      //  }
      //
      //  .linkedin-logo {
      //    opacity: 0;
      //    animation-name: fade-in-2;
      //    animation-duration: 1s;
      //    animation-delay: 3.5s;
      //    animation-fill-mode: forwards;
      //  }
      //
      //  .facebook-logo {
      //    opacity: 0;
      //    animation-name: fade-in-2;
      //    animation-duration: 1s;
      //    animation-delay: 4s;
      //    animation-fill-mode: forwards;
      //  }
      //}
    }
  }
}

.skills {
  background-color: #fff;
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    padding: 0 4rem;
    grid-gap: 3rem;

    @include respond(phone) {
      grid-template-columns: 100%;
      justify-content: center;
      padding: 0;
      grid-gap: 0;
    }

    .example-card {
      border-radius: 5px;
      border: 1px solid #ddd;
      margin-bottom: 15%;
      z-index: 6;
      padding: 0 !important;
      width: 100%;

      @include respond(tab-port) {
        margin-bottom: 7%;
      }

      @include respond(phone){
        margin: 0 auto;
      }

      &__header {
        height: 7rem !important;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 600 !important;

        mat-card-title {
          font-weight: 600 !important;
          margin-bottom: 0;
          letter-spacing: 2px;
          text-transform: uppercase;
        }

        mat-card-subtitle {
          @include respond(tab-port) {
            display: none;
          }
        }
      }

      .card-img {
        height: 35rem;
        width: 100% !important;
        margin: 0 !important;
      }
    }
  }
}

::ng-deep .mat-card-header-text {
  width: 100% !important;
}

/* #### ANIMATIONS #### */
@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0%   {
    opacity: 0;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);}
  50%  {
    opacity: .8;
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: .7;
    transform: translateX(0);
  }
}

.pre-load {
  position: absolute;
  top: -300rem;
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff;
}

// ANIMATION CLASSES
.top {
  transform: translateY(0);
}

.bottom {
  transform: translateY(10rem);
}




